@import 'variables';
@import 'basics';

.firstTheme{
    background-color: $bg-theme1;
    color: $dark;
}
.secondTheme{
    background-color: $bg-theme2;
    color: $white
}
.window-overlay {
    background: $bg-theme1;
    .sk-folding-cube .sk-cube:before {
        background-color: $bg-theme2;
    }
}
.navbar{
    @extend .firstTheme;
    .collapse-close{
        @extend .secondTheme;
    }
}
.home{
    @extend .firstTheme;
}
.major{
    @extend .firstTheme;
}
.projects{
    @extend .firstTheme;
    .project{
        border: $border-thinkness dashed $bg-theme2;
        .overlay{
            .info-overlay{
                @extend .secondTheme;
            }
        }
    }
}
.contact{
    @extend .secondTheme
}