.home {
    text-transform: none;
    overflow: hidden;
    padding-top: $padding * 10;

    .row-reverse {
        @include xs {
            flex-direction: column-reverse;
        }

        @include lg {
            flex-direction: row;
        }

    }

    .home-info {
        .hello {
            line-height: 1;

            p {
                @include xs {
                    font-size: $font-size * 1.5
                }

                @include md {
                    font-size: $font-size * 2
                }

                @include lg {
                    font-size: $font-size * 3
                }
            }

            .job-title {
                max-width: fit-content;
                padding: $padding * 0.5;
                text-transform: uppercase;
                transition: $transition;
                cursor: alias;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        .social-links {
            a {
                transition: $transition;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .problem-solving-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 10px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }

        }
    }

    .img-content {
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        border: $border-thinkness * 8 solid $bg-content;
        transition: $transition;

        @include xs {
            margin: 0px $margin * 4;
            margin-bottom: $margin * 2;
            height: 25vh;
            width: 25vh;
        }

        @include sm {
            margin: 0px $margin * 4;
            margin-bottom: $margin * 2;
            height: 50vh;
            width: 50vh;
        }

        @include md {
            margin: 0px $margin * 8;
            margin-bottom: $margin * 2;
        }

        @include lg {
            margin-left: $margin * 8;
        }

        @include xl {
            margin-left: $margin * 8 * 2;
        }

        &:hover {

            border: $border-thinkness solid $bg-content;

        }

    }
}