.major{
    .title{
        max-width: fit-content;
        margin: $margin * 2 auto $margin * 4 auto;
    };
    .skills{
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: row;
    }
}