.major {
    .title {
        max-width: fit-content;
        margin: $margin * 2 auto $margin * 4 auto;
    }

    ;

    .accordion {
        box-shadow: $box-shadow;

        .accordion-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            i {
                font-size: 10px;
            }
        }

        .accordion-body {
            display: flex;
            flex-direction: row;
            transition: max-height 0.3s ease;
            max-height: 0;
            /* max-height: 200px; */
            overflow: hidden;
            .skills {
                box-shadow: $box-shadow;
                display: flex;
                flex-direction: row;
            }
        }
    }

}